
@{
    ViewBag.Title = "今彩539";
}

<h2>今彩539</h2>
<div class="d-grid gap-2 d-md-block">

    <a href="@Url.Action("QueryNumber", "TwLot539")" class="btn btn-outline-primary btn-lg"><span>查詢號碼</span></a>

    <a href="@Url.Action("QuerySelectNumberCount", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>最合數字</span></a>

    <a href="@Url.Action("HotNumber", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>熱門牌</span></a>

    <a href="@Url.Action("AddNumber", "TwLot539")" class="btn btn-outline-primary btn-lg "><span>新增號碼</span></a>
</div>

